.LearnMore {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 50vh;
}

.learnMoreContainer {
  width: 90%;
  height: 220px;
  background-color: #f0e7f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  display: flex;
  align-items: center;
  width: 95%;
}

.headerContainer {
  width: 48%;
}

.learnMoreHeader {
  font-size: 28px;
  color: black;
}

.learnMoreSubHeader {
  font-size: 17px;
  font-weight: lighter;
  color: black;
  font-family: "Roboto", sans-serif;
}

.learnMoreBtn {
  margin-left: 500px;
  width: 200px;
  height: 50px;
}

@media (max-width: 375px) {
  .learnMoreContainer {
    width: 90%;
    height: 400px;
  }

  .headerContainer {
    width: 90%;
  }

  .learnMoreBtn {
    margin: 0;
    margin-top: 20px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    height: 75%;
  }
}
